<div>
  <div class="bloc-presentation">
    <h2 class="primary-text"> Bienvenue sur mon Portfolio</h2>
    <p class="secondary-text"> Aurélie, UX/UI junior à Paris.</p>
    <p class="secondary-text"> Comprendre vos besoins et surtout vos envies pour les retranscrire aux mieux à vos usagers ! Quand le beau rencontre le pratique.</p>
  </div>
  <div class="bloc-portfolio">
    <h2 class="primary-text">Portfolio</h2>
    <div class="projects">
      <a class="hover">
      <div class="project" routerLink="wellness">
        <div class="image-container-wrapper">
          <div class="image-container">
            <img src="assets/image/wellness-app-no-bg.png" alt="wellness-app" class="visible" style="font-family: 'object-fit: cover;'; max-width: 100%">
            <img src="assets/image/wellness-app2-no-bg.png" alt="wellness-app" class="hidden img2" style="font-family: 'object-fit: cover;'; max-width: 100%">
          </div>
        </div>
        <div class="project-details-wrap">
          <div>
            <h4 class="secondary-text">Wellness App</h4>
            <h6 class="hidden tertiary-text">UX/UI Design | Mobile App concept</h6>
            <p class="hidden tertiary-text">Wellness App est une application mobile d'information et de suivi, aidant les personnes atteintes de maladies chroniques à se renseigner sur leur maladie</p>
          </div>
        </div>
      </div>
      </a>
    </div>
  </div>
  <div class="bloc-apropos-moi">
    <h2>À propos de moi</h2>
  </div>
  <div class="test2"></div>
  <div class="test"></div>
</div>
