<div class="wellness-app-bloc">
  <h3 class="primary-text">Wellness App</h3>
  <h6 class="tertiary-text">UX/UI Design | Mobile App concept</h6>

  <div class="bloc-apropos">
    <img src="assets/image/wellness-img2.png" alt="wellness-app">
    <div>
      <h4 class="secondary-text separator">À propos</h4>
      <p class="tertiary-text">
        Ce projet est une collaboration réalisé avec <a target="_blank" href="https://medium.com/@pauline.lam">Pauline</a> pour le compte de Daily Health, une organisation à but non-lucratif qui promeut la santé et le bien-être par le biais de conférences.
        Notre mission est d’aider Daily Health à rattraper son retard technologique en lui proposant une solution digitale innovante à son segment cible.
        Nous nous sommes basées sur la méthdoe du <b>Desing Thinking</b> pour apporter une solution à Daily Health.
      </p>
    </div>
  </div>

  <h4 class="secondary-text"><b>I.</b> Empathie</h4>
  <p class="tertiary-text">
    Une maladie chronique est une maladie de longue durée et évolutive dont les symptômes peuvent perdurer au-delà de 6 mois. La Caisse Nationale d’Assurance Maladie catégorise différentes maladies chroniques telles que les maladies psychiques, les maladies rares ou les maladies cardioneurovasculaires. Les maladies chroniques constituent les causes de décès les plus fréquentes en France. En France, près de 15M de personnes sont atteintes de maladies chroniques.(source: CNAM, DREES, parution 2022)
    <br><br>
    Cependant, seulement 40% des personnes suivent les recommandations de leur médecin.
  </p>

  <h4 class="secondary-text"><b>II.</b> Définir</h4>
  <p class="tertiary-text">
    La réalisation d’un personnage fictif représentant nos utilisateurs types nous permettra de se concentrer sur leurs besoins afin de trouver la solution la plus adaptée.
  </p>
  <div class="image-wrapper">
    <img src="assets/image/wellness-persona.png" alt="wellness-app" style="width: 50%;">
  </div>

  <h4 class="secondary-text"><b>III.</b> Idéation</h4>
  <h6 class="secondary-text"><b>1.</b> Value Proposition Canvas</h6>
  <p class="tertiary-text">
    Nous présenterons les idées de conception répondant aux besoins des malades chroniques et une proposition de valeur pour Daily Health C.    <br><br>
  </p>
  <div class="image-wrapper">
    <img src="assets/image/wellness-vpc.png" alt="wellness-app" style="width: 80%;">
  </div>
  <p class="tertiary-text">
    Ainsi, nous avons élaboré plusieurs propositions en partant des besoins des patients et de leurs freins.
  </p>

  <div class="duo-img">
    <div style="width: 40%; height: 700px;">
      <h6 class="secondary-text"><b>2.</b> Sitemap</h6>
        <img src="assets/image/wellness-sitemap.png" alt="wellness-app" style="width: 100%;">
    </div>
    <div style="width: 60%;min-height: 700px;">
      <h6 class="secondary-text"><b>3.</b> Priorisation</h6>
        <img src="assets/image/wellness-priorisation.png" alt="wellness-app" style="width: 100%;">
    </div>
  </div>


  <h4 class="secondary-text"><b>IV.</b> Prototype</h4>
  <h6 class="secondary-text"><b>1.</b> Mid-fi</h6>
  <div class="duo-img">
    <img src="assets/image/wellness-midfi-no-bg.png" alt="wellness-app" style="width: 35%;">
    <div style="width: 50%;">
      <p class="tertiary-text">
        L’utilisateur aura accès aux informations inhérentes à chaque maladie saisie. En effet, notre application rassemblera toutes les sources d’informations médicales et scientifiques pour un meilleur accompagnement du patient.
      </p>
    </div>
  </div>

<!--  <iframe class="figma-iframe" src="https://www.figma.com/embed?embed_host=share&url=https://www.figma.com/proto/68hP9Ct50gk3g8EN85F4pC/Graphs?node-id=138%3A2708&scaling=min-zoom&page-id=72%3A1393&starting-point-node-id=138%3A2708"></iframe>-->

</div>
