/* You can add global styles to this file, and also import other style files */
@font-face { font-family: Gentium; src: url('gentium-basic.regular.ttf'); }
@font-face { font-family: Nunito; src: url('nunito-sans.regular.ttf'); }
@font-face { font-family: Didact; src: url('didact-gothic.regular.ttf'); }

html {
  scroll-behavior: smooth;
}

body {
  background-color: #D4C9C0;
  font-family: Didact, serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

header {
  display: flex;
  flex-direction: row;
  height: 100px;
  padding-top: 30px;

  nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    vertical-align: middle;

    div {
      padding-left: 0;
      font-weight: bold;
      position:relative;
      font-family: Gentium, serif;
      font-size: 20px;
    }
  }

  a {
    cursor: pointer;
  }
}

.underline-animated:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background: #000000;
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: .35s linear;
}

.underline-animated:hover:after,
.underline-animated:focus:after {
  visibility: visible;
  transform: scaleX(1);
}

.site-container {
  position: relative;
  width: 100%;
  float: none;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  @media screen and (max-width: 1280px) {
    padding-right: 20px;
    padding-left: 20px;
  }
}
